<ion-content>
  <div class="ion-padding">

    <img class="titulo" src="../assets/img/icon.png" />

    <!-- campos de usuario y contraseña -->
    <ion-input [(ngModel)]="usuario" placeholder="usuario"></ion-input>
    <ion-input [(ngModel)]="password" type="password" placeholder="contraseña"></ion-input>

    <ion-button expand="full" class="login-boton" (click)="iniciarSesion(this.usuario, this.password)" color="secondary">Entrar</ion-button>

    <ion-button expand="full" color="primary" (click)="fbLogin()">
      Iniciar sesión con facebook
      <ion-icon  class="espacio" name="logo-facebook"></ion-icon>
    </ion-button>


    <a href="/registrarse">Registrarse</a>

  </div>
</ion-content>
